<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="heading-script">Welcome to</h1>
            <h1 class="heading">EAT BURGER</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2 class="text-center">Burger Menu</h2>
            <div class="row food-menu">
                {{#each burgers}} {{#unless devoured}} {{!-- create a button with a the burger ID and new devoured state --}}
                <div class="col-lg-12">
                    <div class="row food-item">
                        <div class="col-lg-9">
                            <h3 class="food-title">{{burger_name}}</h3>
                            <div class="row food-ingredients">
                                <div class="col-lg-12">{{ingredients}}</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <button type="submit" data-id="{{id}}" data-new-devoured="1" class="change-devoured eat-button">Eat Me!</button>
                        </div>
                    </div>
                </div>
                {{/unless}} {{/each}}
            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="text-center">Burgers Eaten</h2>
            <div class="row plate text-center">
              <div class="col-lg-12 food-title-eaten">
               
                {{#each burgers}} {{#if devoured}}
                
                   <p>{{burger_name}}</p>
                
                {{/if}} {{/each}}
              
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>Add a Burger</h2>
            <form class="create-form">
                <div class="form-group">
                    <label for="burger-name">Burger Name:</label>
                    <input type="text" id="burger-name" name="burger-name">
                </div>
                <div class="form-group">
                    <label for="burger-name">Ingredients:</label>
                    <input type="text" id="ingredients" name="ingredients" value="Lettuce, Tomato">
                </div>
                <div class="form-group">

                    <input type="radio" name="devoured" value="1"> Eaten!

                    <input type="radio" name="devoured" value="0" checked> Not Eaten
                </div>
                <button type="submit" id="add-burger">Add Burger</button>
            </form>
        </div>
    </div>
</div>